body {
  background: #EEE;
  margin: 0;
  padding-left: 20px;
}

#banner_image {
    opacity: 0.3;
	border-radius: 10%
}

.content_text {
	max-width: 950px;
}

li.content_text {
	padding-bottom: 15px;
}

i.caption_text {
	display: block;
	padding-bottom: 20px;
	max-width: 950px;
}

.content_media{
	display: block;
	padding-top: 7.5px;
}

li.sub-list_test{
	padding-bottom: 10px;
	max-width: 950px;
}

.equation_image {
	max-height: 50px;
	display: block;
	padding: 5px 0px 5px 20px;
}

.terms {
	display: block;
	padding-left: 20px;
	font-style: italic;
}

img, video {
	max-width: 950px;
}

.sub-script {
	font-size: 50%;
	font-style: bold;
}

.step_title {
	font-family: Garmond;
	font-style: bold;
}

.red_txt {
	color: #F84545;
	font-style: bold;
}

.green_txt {
	color: #3B862B;
	font-style: bold;
}

.tg  {
	border-collapse:collapse;
	border-spacing:0;border-color:#ccc;
}

.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#ccc;
	color:#333;
	background-color:#fff;
}

.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#ccc;
	color:#333;
	background-color:#f0f0f0;
}

.tg .tg-1wig{
	font-weight:bold;
	text-align:left;
	vertical-align:top
}

.tg .tg-buh4{
	background-color:#f9f9f9;
	text-align:left;
	vertical-align:top
}

.tg .tg-0lax{
	text-align:left;
	vertical-align:top
}

table {
	max-width: 950px;
}